* {
  box-sizing: border-box;
  /* wins over browser defaults, did not work in the body because browser defaults win over inheritance */
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#product-overview {
  background: #ff1b68;
  width: 100%;
  height: 528px;
  padding: 10px;
}
.section-title {
  color: #2ddf5c;
}
#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
}
.main-header {
  width: 100%;
  background-color: #2ddf5c;
  padding: 8px 16px;
}
